.card {
  background: transparent;
  position: relative;
  display: flex;
  transition: 0.3s ease-out;
  width: 250px;
}

.card .info {
  position: relative;
  top: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.card .info::after {
  content: "ð–·";
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 22px;
  color: var(--red);
}

.card:hover .info {
  opacity: 1;
}

.card__box {
  margin-top: 15px;
}

.card__title {
  width: 300px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title > h2 {
  border: 1px solid var(--lightGrey);
  border-radius: 4px;
  padding: 0.3rem 0.1rem;
  width: 50px;
  color: var(--lightGrey);
  font-weight: 600;
  font-size: 14px;
}

.card__title > p > span {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--lightGrey);
}

.card__release {
  text-align: left;
  color: var(--grey);
}

.btn__view {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}

.btn__view:hover > .closeBtn {
  opacity: 1;
}

.closeBtn {
  opacity: 0;
  color: var(--white);
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.card p {
  margin: 10px 0;
  text-transform: uppercase;
  color: var(--white);
}
