.card {
  width: 250px;
  background: transparent;
  position: relative;
  display: flex;
  transition: 0.3s ease-out;
}

.card .info {
  position: relative;
  top: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.card .info::after {
  content: "ð–·";
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 22px;
  color: var(--red)
}

.card:hover .info {
  opacity: 1;
}

.card__box {
  margin-top: 15px;
}

.card__title {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title > h2 {
  border: 1px solid var(--lightGrey);
  border-radius: 4px;
  padding: 0.3rem;
  width: 50px;
  color: var(--lightGrey);
  font-weight: 600;
  font-size: 14px;
}

.card__title > p > span {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--lightGrey);
}

.card__release {
  text-align: left;
  color: var(--grey);
}


button{
  margin-top: 1rem;
}