.filter {
  display: flex;
  justify-content: space-around;
  color: var(--red);
  border-radius: 3px;
  font-size: 18px;
  padding: 1rem;
  align-items: center;
  border: 1px solid;
  width: 300px;
  margin: 1rem auto;
}

.filter > .select {
  letter-spacing: 2px;
  margin-right: 5px;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  color: aliceblue;
}

.filter > .select {
  border: none;
  background: transparent;
  color: var(--white);
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
}

.filter > .select::after {
  content: "x";
  position: absolute;
  top: 0;
  right: 10%;
  color: green;
}

.select {
  position: relative;
  bottom: 0;
  width: 180px;
  margin-left: 5px;
  padding-left: 6px;
}

.select::after {
  content: "\25bc";
  color: var(--red);
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0;
  line-height: 32px;
}

.hr {
  border: 1px solid rgb(77, 77, 77);
  width: 74%;
  margin: 1.5rem auto;
}

.movie__numbers {
  text-align: left;
  padding: 1rem;
  width: 75%;
  margin: auto;
}

.movie__numbers > h1 > span {
  font-weight: 600;
  margin-right: 10px;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .filter {
    flex-direction: column;
  }
}
