.home {
  background: url("../../assets/netflix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.header {
  background-color: rgba(0, 0, 0, 0.35);
}

.filterMovieList{
  display: flex;
  justify-content: space-evenly;
}

.searchTitle{
  padding: 1rem;
  font-size: 2rem;
}
