.msg {
  position: absolute;
  top: 10%;
  left: 10%;
  border: none;
  background: rgba(0, 0, 0, 0.86);
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  font-size: 22px;
  color: white !important;
}

.msg p {
  margin-top: 1rem;
}

.msg > button {
  margin-top: 2rem;
}
