.modal{
border: 1px solid #3e3e3e;
padding: 1rem;
background: black;
width: 400px;
border-radius:5px;
position: fixed;
top: 5%;
left: 30%;
z-index: 120;
}

.control{
	display: flex;
	flex-direction: column;
	z-index: 120;
}

.notValid{
	border: 1px solid lightcoral;
	background: blue;
}

h2{
	margin: 1rem;
	text-transform: uppercase;
}

input{
	margin-bottom: 20px;
}

button{
	margin-bottom: 1rem;
	transition: 0.3s all cubic-bezier(1, 0, 0, 1);
}

button:hover{
	background: var(--red);
	color: var(--white);
	transition: 0.4s all ease-in-out;
}