.details {
  height: 100vh;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar h1 {
  text-transform: uppercase;
}

.navbar span {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

.navbar h3 {
  margin-right: 3rem;
}

.navbar > span {
  font-weight: 800;
  font-size: 30px;
  color: var(--red);
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.img img {
  height: 600px;
  background-size: cover;
}

/* details right section */

.details__right {
  padding-left: 1rem;
  flex: 0.8;
}

.details__right {
  text-align: left;
}

.details__title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.details__title > h1 {
  font-size: 46px;
}

.details__title > h2 {
  margin-top: 20px;
  border: 2px solid;
  border-radius: 50%;
  margin-left: 30px;
  padding: 21px;
  font-size: 40px;
}

.details__title > h2 > span {
  color: aquamarine;
}

.details__minutes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details__minutes h2 {
  color: var(--red);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 800;
  margin: 2rem 0;
}

.details__minutes span {
  margin-left: 2.5rem;
}
